<h1> Titulo Pagina Two <h1>
<h1>Pages#two</h1>
<p>Find me in app/views/pages/two.html.erb</p>

<%= image_tag 'rakeroutes.png', class: 'img-fluid' %>
<br>
<img scr= '/assets/rakeroutes.png' class='img-fluid'>